* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  padding-top: 20px;
}

#game {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 500px;
  height: 500px;
}

/* wedge colours */

.row {
  padding: 0;
  margin: 0;
}

.wedge {
  display: inline-block;
  width: 215px;
  height: 215px;
  margin: 0;
  padding: 0;
  z-index: 0;
  float: left;
}

#green {
  border-top-left-radius: 100%;
  border-left: 25px solid black;
  border-top: 25px solid black;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}

#green.dark {
  background-color: green;
}

#green.light {
  background-color: #09f40d;
}

#red {
  border-top-right-radius: 100%;
  border-left: 10px solid black;
  border-top: 25px solid black;
  border-bottom: 10px solid black;
  border-right: 25px solid black;
}

#red.dark {
  background-color: #b72d2d;
}

#red.light {
  background-color: red;
}

#blue {
  border-bottom-left-radius: 100%;
  border-left: 25px solid black;
  border-top: 10px solid black;
  border-bottom: 25px solid black;
  border-right: 10px solid black;
}

#blue.dark {
  background-color: #020e8e;
}

#blue.light {
  background-color: #0497f9;
}

#yellow {
  border-bottom-right-radius: 100%;
  border-left: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 25px solid black;
  border-right: 25px solid black;
}

#yellow.dark {
  background-color: #dda704;
}

#yellow.light {
  background-color: yellow;
}

/* controls and display*/

#controls {
  z-index: 1;
  width: 210px;
  height: 210px;
  left: 25%;
  top: 25%;
  background-color: white;
  border: 20px solid black;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  overflow: hidden;
}

#logo {
  top: -20px;
  left: -20px;
  width: 250px;
  height: 70px;
  background-color: silver;
  padding: 45px 0 0 0;
  color: white;
  font-family: sans-serif;
  font-size: 3.2em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  margin: 0;
}

button {
  width: 40px;
  height: 40px;
  background-color: #7f7474;
  color: white;
  font-size: 0.7em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

button:focus {
  outline: 0;
  !important;
}

button.pressed {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.closed {
  pointer-events: none;
}

.open {
  pointer-events: auto;
  cursor: pointer;
  cursor: hand;
}

#start {
  top: 120px;
  left: 20px;
}

#strict {
  top: 120px;
  right: 20px;
}

#strict-indicator {
  background-color: black;
  border: 1px solid black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  top: 105px;
  right: 35px;
  position: absolute;
}

#strict-indicator.on {
  background-color: #00FF40;
}

#display {
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  width: 50px;
  height: 40px;
  background-color: black;
  border: 1px solid grey;
  color: red;
  position: absolute;
  top: 110px;
  left: 80px;
  padding-top: 10px;
  border-radius: 10%;
}
